<<<<<<< HEAD
extends ../layout


block content
  h2 Quiz, el juego de las Preguntas

  p #{respuesta}

  a(href="/quizes/question") Inténtelo de nuevo
=======
h2 Quiz, el juego de las Preguntas

p #{respuesta}

a(href="/quizes/question") Inténtelo de nuevo
>>>>>>> dd6ae0730207caf0974e6009595ecadcc09e1cf2
