extends ../layout

block content
  h1 #{pregunta}

  form(method='get', action='/quizes/answer')
    input(type='text', name='respuesta', placeholder='Responda aquí')
    input.pure-button.pure-button-primary(type='submit', value='Enviar')
