<<<<<<< HEAD
extends ../layout

block content
  h1 #{pregunta}

  form(method='get', action='/quizes/answer')
    input(type='text', name='respuesta', placeholder='Responda aquí')
    input.pure-button.pure-button-primary(type='submit', value='Enviar')
=======
h1 #{pregunta}

form(method='get', action='/quizes/answer')
  input(type='text', name='respuesta', placeholder='Responda aquí')
  input(type='submit', value='Enviar')
>>>>>>> dd6ae0730207caf0974e6009595ecadcc09e1cf2
